*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body   
{
    background-color:#f5f5ef;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .container{
   background: white;
   width: 500px;
   padding: 25px;
   margin: 8% auto 0; 
   border-radius: 15px;
   box-shadow: 0 0 5px;
}

h2 {
   text-align: center;
}

p{
   padding: 8px;
   margin-left: 8px;
   font-size: 15px;
}
.fp {
   width: 90%; 
   position: relative;
   margin: 20px auto; 
}

.bi-envelope-fill {
   padding: 14px 15px;
   font-size: 15px;
}

.btn-primary {
   width: 45%;
   color: white;
   background-color:#d8ab87;
   border: 0;
}
.text-name{
   width: 100%;
   margin-bottom: 3px;
   padding: 10px;
   padding: 8px 0 8px 40px;
   height: 50px;
}

.fp i{
   position: absolute;
}

.fp a{   
   text-decoration: none;
   color: white;
   line-height: 1.5;
   margin: 8px;
}

.fp input:focus {
   outline: 0;
}

.fp.success input{
   border-color: green;
}

.fp.error input{
   border-color: red;
}

.fp .error {
   color: red;
   font-size: 12px;
   height: 13px;
}


@media only screen and (max-width: 500px) {
   .container{
       width: auto;
       height: auto;
       margin: 50% auto 0; 
   }
  
}




